
*{
	font-family: 'Poppins' sans-serif;
	margin: 0px;
	padding: 0px;
}
/*Animaciones*/
.gradientes{
	margin-top: 50px;
	margin-bottom: 50px;
	border: black; solid 10px;
	background-image: linear-gradient(grey, black);
}

.rotar{
	width: 200px;
	height: 200px;
	margin-bottom: 50px;
	transform: rotate(-45deg);
}

.animacion1{
	color: white;
	font-size: 35px;
	animation-name: efecto;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-delay: 3s;
}

@keyframes efecto {
	0%{
		color: white;
	}
	25%{
		color: grey;
	}
	50%{
		color: black;
	}
	75%{
		color: white;
	}
	100%{
		color: grey;
	}
}

/*bootstraps*/
.border{
	border: solid 1px gray;
}

.menu{
	background-color:white;
	text-align: center;
	font-size: 30px;
	
}

.pad20{
	padding: 10px;
}

.pad30{
	padding: 40px;
}

ul{
	text-align: center;
	padding-left: 10px;
	margin-top: 10px;
	list-style: none;
}
nav ul li{
	display: inline-block;
	color: white;
}

body{
	background-color: gray;
}


.footer{
	color: white;
	position: relative;
	top: 100px;
}

/*COLOR DE LETRAS*/

.p{
	color: white;
}

/*COLOR DE NAV*/

.navcolor{
	background-image: linear-gradient(black, gray);
}

/*CONTENIDO*/

.blue{
	position: relative;
	left: 0px;
	top: -55px;
}

.maps{
	width: 1480px;
	height: 550px;
}

.foot{
	position: relative;
	top: 50px;
}

.space{
	padding: 100px;
	margin: 0px;
}

.titulo{
	font-size: 60px;
	text-align: center;
}

.espacio{
	padding: ;
}

/*IMAGENES*/

.imgprincipal{
	width: 720px;
	height: 400px;
	position: relative;
	left: -120px;
}

.img1{
	width: 300px;
	height: 250px;
	padding: 25px;
	margin: 0px;
    position: relative;
    left: -100px; 
}

.img2{
	width: 300px;
	height: 250px;
	padding: 25px;
	margin: 0px;
	position: relative;
	left: -35px;
}

.img3{
	width:300px;
	height:250px;
	padding: 25px;
	margin: 0px;
	position: relative;
	left: 35px;
}

.img4{
	width: 300px;
	height: 250px;
	padding: 25px;
	margin: 0px;
    position: relative;
    left: 100px;
}



.img5{
	width: 350px;
	height: 250px;
	padding: 25px;
	margin: 0px;
    position: relative;
    left: -100px; 
}

.img6{
	width: 350px;
	height: 250px;
	padding: 25px;
	margin: 0px;
	position: relative;
	left: -35px;
}

.img7{
	width:350px;
	height:250px;
	padding: 25px;
	margin: 0px;
	position: relative;
	left: 35px;
}

.img8{
	width: 350px;
	height: 250px;
	padding: 25px;
	margin: 0px;
    position: relative;
    left: 100px;
}




.circular-square {
border-radius: 50%;
}

.image{
	width: 300px;
	height: 250px;

}

.imgauto1{
	position: relative;
	left: -200px;
}

.imgauto2{
	position: relative;
	left: 275px;
}

.imgauto3{
	position: relative;
	left: 30px;
}

/*aaaa*/

a{
	text-decoration: none;
	cursor: pointer;
	color: white;
	font-family: 'Poppins' sans-serif ;
}

.redondeado{
	border-radius:2em;
}

/*TEXTOS*/

.textopricipal{
	position: relative;
	left: 100px;
}

.texto1{
	position: relative;
	left: -60px;
	text-align: left;
	font-size: 16px;
}

.texto2{
	position: relative;
	left: -10px;
	text-align: center;
	font-size: 16px;
}

.texto3{
	position: relative;
	left: 60px;
	text-align: center;
	font-size: 16px;
}

.texto4{
	position: relative;
	left: 125px;
	text-align: center;
	font-size: 16px;
}

.texto5{
	position: relative;
	left: 500px;
	top: 30px;
	text-align:center;
	font-size: 50px;
}

.texto6{
	position: relative;
	left: 500px;
	top: 40px;
	text-align:center;
	font-size: 25px;
}


.texto7{
	position: relative;
	left: -60px;
	text-align: left;
	font-size: 16px;
}

.texto8{
	position: relative;
	left: -10px;
	text-align: center;
	font-size: 16px;
}

.texto9{
	position: relative;
	left: 60px;
	text-align: center;
	font-size: 16px;
}

.texto10{
	position: relative;
	left: 125px;
	text-align: center;
	font-size: 16px;
}



.textoautos{
	position: relative;
	margin: 15px;
	left: -180px;
}

.textocamionetas{
	position: relative;
	margin: 15px;
}

.textosuv{
	position: relative;
	margin: 15px;
}

.precios{
	position: relative;
	left: ;
}
/*VIDEOS*/

.video1{
	position: relative;
	padding: 40px;
	margin: 0px;
}
