
*{
	font-family: 'Poppins' sans-serif;
	margin: 0px;
	padding: 0px;
}
/*Animaciones*/
.gradientes{
	margin-top: 50px;
	margin-bottom: 50px;
	border: black; solid 10px;
	background-image: linear-gradient(grey, black);
}

.rotar{
	width: 200px;
	height: 200px;
	margin-bottom: 50px;
	transform: rotate(-45deg);
}

.animacion1{
	color: white;
	font-size: 35px;
	animation-name: efecto;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-delay: 3s;
}

@keyframes efecto {
	0%{
		color: white;
	}
	25%{
		color: grey;
	}
	50%{
		color: black;
	}
	75%{
		color: white;
	}
	100%{
		color: grey;
	}
}

/*bootstraps*/
.border{
	border: solid 1px gray;
}

.menu{
	background-color:white;
	text-align: center;
	font-size: 30px;
	
}

.pad20{
	padding: 10px;
}

ul{
	text-align: center;
	padding-left: 10px;
	margin-top: 10px;
	list-style: none;
}
nav ul li{
	display: inline-block;
	color: white;
}

body{
	background-color: gray;
}

.footer{
	color: white;
}

/*COLOR DE LETRAS*/

.p{
	color: white;
}

/*COLOR DE NAV*/

.navcolor{
	background-image: linear-gradient(black, gray);
}

/*CONTENIDO*/

.blue{
	position: relative;
	left: 0px;
	top: -55px;
}

.maps{
	width: 1480px;
	height: 550px;
}

.foot{
	position: relative;
	top: 50px;
}

